# Initialization data for a Docker container
POSTGRES_USER=cinema_user
POSTGRES_PASSWORD=cinema_password
POSTGRES_DB=cinema_db

# Database URL
DATABASE_URL="postgresql://cinema_user:cinema_password@localhost:5432/cinema_db?schema=public"

# Docker database URL
DATABASE_URL_DOCKER="postgresql://cinema_user:cinema_password@db:5432/cinema_db?schema=public"

JWT_SECRET="YOURSECRETKEY"

# Backend API URL
VITE_API_URL="http://localhost:3000/api"